*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto","sans-serif";
}

.grass{background-color:  #59b12e;}
.fire{background-color:  #e06d1b;}
.water{background-color:  #4773da;}
.bug{background-color:  #95a315;}
.normal{background-color:  #a7a75c;}
.poison{background-color:  #8a296a;}
.electric{background-color:  #d4b126;}
.ground{background-color:  #c0a24f;}
.fairy{background-color:  #ee849b;}
.fighting{background-color:  #a72d27;}
.psychic{background-color:  #e03e6f;}
.rock{background-color:  #9e8929;}
.ghost{background-color:  #624296;}
.defaul{background-color:  #3f8f78;}

.Title__page{
    width: 100%;
    padding: 1rem;
    font-weight: bolder;
    font-size: 2.5rem;
    text-align: center;
}
.searc__pokemon{
    width: 100%;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    display: flex;
    
}

#pokemon__search{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-weight: 700;
    text-align: center;
    border: #000 solid 3px;
}

#pokemon_btn_search{
    width: 50px;
    height: 30px;
    background-color: #4773da;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}


.container{
    width: 100%;
    height: 100%;
    background-color: #FFF;
    display: flex;

}

.container__pokemons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    padding: 1rem;
    align-content: space-around;
    gap: 1rem;
  
}




.pokemon{
    width: 180px;
    height: 150px;
    list-style: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 21px 51px -24px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 21px 51px -24px rgba(0,0,0,0.59);
    box-shadow: 0px 21px 51px -24px rgba(0,0,0,0.59);
    cursor: pointer;
   

}
.pokemon:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.pokemon__info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    gap: 0.3rem;
    width: 100%;
}

.pokemon__info > p {
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
}

.pokemon__info > span {
    font-weight: bold;
    font-size: 1.5rem;
    color: #ebebeb9a;
}

.pokemon__details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
}
.pokemon__details > img {
    max-width: 120px;
    height: 100px;
box-sizing: border-box;
filter: drop-shadow(2px 2px 4px #00000096);
}


.pokemon__details__type{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}
.types{
    list-style: none;
    border-radius: 6px;
    padding: 0.2rem;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
}


.load__more__container{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.load__more__btn{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    background-color: #4773da;
    color: #fff;
    cursor: pointer;
    user-select: none;
}


.erro__pokemon{
    background-color: red;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 20rem;
    height:  4rem;

    padding: 1rem;

    color: #fff;
    font-weight: bold;
    animation: alert 1s ease-in-out infinite;
}
.erro__pokemon > span{
    color: #000;
}

@keyframes alert {
    0%   {scale: 1.0;}
    25%  {scale: 1.3;}
    50%  {scale: 1.2;}
    100% {scale: 1.0}
  }


@media only screen and (min-width: 152px)  {
    .container__pokemons {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;

    }



  }
@media only screen and (min-width: 340px) and (max-width:600px) {
    .container__pokemons {
        grid-template-columns: repeat(2, 1fr);
    }
  }
  @media only screen and (min-width: 600px) and (max-width:840px) {
    .container__pokemons {
        grid-template-columns: repeat(3, 1fr);
    }
    
  }


  @media only screen and (min-width: 840px) {
    .container__pokemons {
        grid-template-columns: repeat(4, 1fr);
    }
    
  }

  @media only screen and (min-width: 1000px) {
    
    
    .container{
    width: 100%;
    height: 100%; 
    }

    .container__pokemons{
        width: 70%;
        margin: auto;
        justify-content: center;
        align-content: center;
        place-items: center;
    }
  }
