* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

@font-face {
    font-family: "Neue Machina";
    src: url("../fonts/NeueMachina-Regular.otf");
}


body {
    padding: 1rem;
    background-color: #000;
    color: #fff;
}